html, body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    position: fixed;
    width: 100vw;
    z-index: 10;
  }
  
  nav {
    margin: 0;
    padding: 20px 0;
    display: block;
    width: auto;
  }

  nav ul{
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
  }
  
  nav li {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 20px;
    display: inline-block;
    border: 1px #fff solid;
    padding: 5px 8px;
  }
  
  main {
    text-align: center;
    position: relative;
    top: 80px;
  }
  
  main h1 {
    color: #333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 70px;
    margin-top: 0px;
    padding-top: 80px;
    margin-bottom: 80px;
    text-transform: uppercase;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: relative;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  
  footer p {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
  }
  
  .container {
    height:100%;
    width:100%;
    position: relative;
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
  }
  
  .jumbotron {
    height: 800px;
    background-image: url(/resources/hard_money_cigar.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
  .btn-main {
    background-color: #333;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1.3px;
    padding: 16px 40px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .btn-default {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;  
    margin-bottom: 20px;      
  }
  
  .supporting {
    padding-top: 80px;
    padding-bottom: 100px;
  }
  
  .supporting .col {
    position: relative;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    display: inline-block;
    height: 200px;
    width: 200px;
    top: 40px;
  }
  
  .supporting img {
    height: 32px;
  }
  
  .supporting h2 {
    font-weight: 600;
    font-size: 23px;
    text-transform: uppercase;
  }
  
  .supporting p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0 20px;
    margin-bottom: 20px;
  }
  
  .supporting a {
    background-color: white;
    color: #333333;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 1.3px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #333333; 
  }
  
  @media (max-width: 500px) {
    main h1 {
      font-size: 50px;
      padding: 0 40px;
    }
  
    .supporting .col {
      width: auto;
    }
  }